/**
 * Shared style for full screen local track based dialogs/modals.
 */
.premeeting-screen {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.premeeting-screen {
    align-items: stretch;
    background: radial-gradient(
        50% 50% at 50% 50%,
        #2a3a4b 20.83%,
        #1e2a36 100%
    );
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    z-index: $toolbarZ + 1;

    &-avatar {
        background-color: #a4b8d1;
        margin-bottom: 10px;

        text {
            fill: black;
            font-size: 26px;
            font-weight: 400;
        }
    }

    .action-btn {
        border-radius: 3px;
        box-sizing: border-box;
        color: #fff;
        cursor: pointer;
        display: inline-block;
        font-size: 15px;
        line-height: 24px;
        padding: 7px 16px;
        position: relative;
        text-align: center;
        width: 320px;
        margin-left: -500px;

        @include adjust-for-max-width(320px, 8px);

        &.primary {
            background: #0376da;
            border: 1px solid #0376da;
        }

        &.secondary {
            background: transparent;
            border: 1px solid #5e6d7a;
        }

        &.text {
            width: auto;
            font-size: 13px;
            margin: 0;
            padding: 0;
        }

        &.disabled {
            background: #5e6d7a;
            border: 1px solid #5e6d7a;
            color: #afb6bc;
            cursor: initial;

            .icon {
                & > svg {
                    fill: #afb6bc;
                }
            }
        }

        .options {
            border-radius: 3px;
            align-items: center;
            display: flex;
            height: 100%;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 0;
            width: 36px;

            &:hover {
                background-color: #0262b6;
            }

            svg {
                pointer-events: none;
            }
        }
    }

    .content {
        align-items: center;
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        padding-bottom: 24px;
        z-index: $toolbarZ + 2;

        .title {
            color: #fff;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 16px;
        }

        .copy-meeting {
            align-items: center;
            cursor: pointer;
            color: #fff;
            display: flex;
            flex-direction: column;
            font-size: 15px;
            font-weight: 300;
            justify-content: center;
            line-height: 24px;
            margin-bottom: 16px;

            .url {
                background: rgba(28, 32, 37, 0.5);
                border-radius: 4px;
                display: flex;
                padding: 8px 10px;
                transition: background 0.16s ease-out;

                &:hover {
                    background: #1c2025;
                }

                &.done {
                    background: #31b76a;
                }

                .jitsi-icon {
                    margin-left: 10px;
                }
            }
            .copy-button {
                width: 298px;
            }

            .copy-meeting-text {
                width: 266px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:hover {
                align-self: stretch;
            }

            textarea {
                border-width: 0;
                height: 0;
                opacity: 0;
                padding: 0;
                width: 0;
            }
        }

        input.field {
            background-color: white;
            border: none;
            outline: none;
            border-radius: 3px;
            font-size: 15px;
            line-height: 24px;
            color: #1c2025;
            padding: 8px 0;
            text-align: center;
            width: 320px;
            margin-left: -500px;
            @include adjust-for-max-width(320px, 8px);

            &.error {
                box-shadow: 0px 0px 4px 3px rgba(225, 45, 45, 0.4);
            }

            &.focused {
                box-shadow: 0px 0px 1px 1.5px black, 0px 0px 1.3px 4px white;
            }
        }
    }

    .media-btn-container {
        display: flex;
        justify-content: center;
        margin: 24px 0 16px 0;
        width: 100%;

        & > div {
            margin: 0 12px;
        }
    }
}

#preview {
    height: 40%;
    position: relative;
    width: 40%;
    margin: 100 500;

    &.no-video {
        background: radial-gradient(
                50% 50% at 50% 50%,
                #5b6f80 0%,
                #365067 100%
            ),
            #ffffff;
        text-align: center;
    }

    .avatar {
        background: #a4b8d1;
        margin: 0 auto;
    }

    video {
        height: 100%;
        object-fit: cover;
        position: absolute;
        width: 100%;
    }
}

@mixin flex-centered() {
    align-items: center;
    display: flex;
    justify-content: center;
}

@mixin icon-container($bg, $fill) {
    .toggle-button-icon-container {
        background: $bg;

        svg {
            fill: $fill;
        }
    }
}

.toggle-button {
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
    font-size: 13px;
    height: 40px;
    margin: 0 auto;
    transition: background 0.16s ease-out;
    width: 320px;

    @include adjust-for-max-width(320px, 8px);
    @include flex-centered();

    svg {
        fill: transparent;
    }

    label {
        cursor: pointer;
    }

    &:hover {
        background: rgba(255, 255, 255, 0.1);

        .toggle-button-icon-container {
            display: none;
        }
    }

    &-container {
        position: relative;

        @include flex-centered();
    }

    &-icon-container {
        border-radius: 50%;
        left: -22px;
        padding: 2px;
        position: absolute;
    }

    &--toggled {
        @include icon-container(white, #1c2025);

        &:hover {
            .toggle-button-icon-container {
                display: block;
            }
        }

        .toggle-button-icon-container {
            display: block;
        }
    }
}
