body.welcome-page {
    background: inherit;
    overflow: auto;
}

.welcome {
    background-image: $welcomePageBackground;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    font-family: $welcomePageFontFamily;
    justify-content: space-between;
    min-height: 100vh;
    position: relative;

    .header {
        // background-image: $welcomePageHeaderBackground;
        background-position: $welcomePageHeaderBackgroundPosition;
        background-repeat: $welcomePageHeaderBackgroundRepeat;
        background-size: $welcomePageHeaderBackgroundSize;
        padding-bottom: $welcomePageHeaderPaddingBottom;
        background-color: #131519a9;
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: absolute;

        .header-container {
            display: $welcomePageHeaderContainerDisplay;
            flex-direction: column;
            margin: $welcomePageHeaderContainerMargin;
            z-index: $zindex2;
        }

        .header-text-title {
            color: $welcomePageTitleColor;
            font-size: $welcomePageHeaderTextTitleFontSize;
            font-weight: $welcomePageHeaderTextTitleFontWeight;
            line-height: $welcomePageHeaderTextTitleLineHeight;
            margin-bottom: $welcomePageHeaderTextTitleMarginBottom;
            max-width: $welcomePageHeaderTitleMaxWidth;
            opacity: $welcomePageHeaderTextTitleOpacity;
            text-align: $welcomePageHeaderTextAlign;
        }

        .header-text-subtitle {
            color: #fff;
            font-size: 20px;
            font-weight: 600;
            line-height: 26px;
            margin: 16px 0 32px 0;
            text-align: $welcomePageHeaderTextAlign;
        }

        #enter_room {
            display: $welcomePageEnterRoomDisplay;
            align-items: center;
            max-width: 130px;
            width: $welcomePageEnterRoomWidth;
            z-index: $zindex2;
            background-color: #fff;
            padding: $welcomePageEnterRoomPadding;
            border-radius: 4px;
            margin: $welcomePageEnterRoomMargin;

            .enter-room-input-container {
                text-align: left;
                color: #253858;
                flex-grow: 1;
                height: fit-content;
                padding-right: 4px;
                position: relative;

                .enter-room-input {
                    border: 0;
                    background: #fff;
                    display: inline-block;
                    height: 50px;
                    width: 100%;
                    font-size: 14px;
                    padding-left: 10px;

                    &:focus {
                        outline: auto 2px #005fcc;
                    }
                }

                .insecure-room-name-warning {
                    align-items: center;
                    color: $defaultWarningColor;
                    display: flex;
                    flex-direction: row;
                    margin-top: 15px;

                    .jitsi-icon {
                        margin-right: 15px;

                        svg {
                            fill: $defaultWarningColor;
                        }
                    }
                }

                ::placeholder {
                    color: #253858;
                }
            }

            .warning-without-link {
                position: absolute;
                top: 44px;
                left: -10px;
            }

            .warning-with-link {
                position: absolute;
                top: 84px;
            }
        }

        #moderated-meetings {
            max-width: calc(100% - 40px);
            padding: 16px 0 39px 0;
            width: $welcomePageEnterRoomWidth;

            p {
                color: $welcomePageDescriptionColor;
                float: left;
                text-align: $welcomePageHeaderTextAlign;

                a {
                    color: inherit;
                    font-weight: 600;
                }
            }
        }
    }

    .tab-container {
        font-size: 16px;
        position: relative;
        text-align: left;
        display: $welcomePageTabContainerDisplay;
        flex-direction: column;

        .tab-content {
            display: $welcomePageTabContentDisplay;
            height: 250px;
            margin: 5px 0px;
            overflow: hidden;
            flex-grow: 1;
            position: relative;
        }

        .tab-buttons {
            background-color: #c7ddff;
            border-radius: 6px;
            color: #0163ff;
            font-size: 14px;
            line-height: 18px;
            margin: 4px;
            display: $welcomePageTabButtonsDisplay;

            .tab {
                background-color: #c7ddff;
                border-radius: 7px;
                cursor: pointer;
                display: $welcomePageTabDisplay;
                flex-grow: 1;
                margin: 2px;
                padding: 7px 0;
                text-align: center;

                &.selected {
                    background-color: #fff;
                }
            }
        }
    }

    .welcome-page-button {
        border: 0;
        font-size: 14px;
        background: #0074e0;
        border-radius: 3px;
        color: #ffffff;
        cursor: pointer;
        padding: 16px 20px;

        &:focus-within {
            outline: auto 2px #022e61;
        }
    }

    .welcome-page-settings {
        background: rgba(255, 255, 255, 0.38);
        border-radius: 3px;
        color: $welcomePageDescriptionColor;
        padding: 4px;
        position: absolute;
        top: 32px;
        right: 32px;
        z-index: $zindex2;

        * {
            cursor: pointer;
            font-size: 32px;
        }

        .toolbox-icon {
            height: 24px;
            width: 24px;
        }
    }

    .welcome-watermark {
        position: absolute;
        width: 100%;
        height: 100%;

        .watermark.leftwatermark {
            width: $welcomePageWatermarkWidth;
            height: $welcomePageWatermarkHeight;
        }
    }

    &.without-content {
        .welcome-card {
            min-width: 500px;
            max-width: 580px;
        }
    }

    &.without-footer {
        justify-content: start;
    }

    .welcome-cards-container {
        color: #131519;
        padding-top: 40px;
        margin-top: 450px;
    }

    .welcome-card-row {
        display: flex;
        justify-content: center;
        padding: 0 32px;
    }

    .welcome-card-text {
        padding: 32px;
    }

    .welcome-card {
        width: 49%;
        border-radius: 8px;

        &--dark {
            background: #444447;
            color: #fff;
        }

        &--blue {
            background: #d5e5ff;
        }

        &--grey {
            background: #f2f3f4;
        }

        &--shadow {
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.15);
        }
    }

    .welcome-footer {
        background: #131519;
        color: #fff;
        margin-top: 40px;
        position: relative;
    }

    .welcome-footer-centered {
        max-width: 688px;
        margin: 0 auto;
    }

    .welcome-footer-padded {
        padding: 0px 16px;
    }

    .welcome-footer-row-block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #424447;

        &:last-child {
            border-bottom: none;
        }
    }

    .welcome-footer--row-1 {
        padding: 40px 0 24px 0;
    }

    .welcome-footer-row-1-text {
        max-width: 200px;
        margin-right: 16px;
    }
}
